* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(135deg, #1f2632, #323d51);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 600px;
  background-color: #323d51;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.advice-title {
  font-size: .8rem;
  margin-bottom: 2rem;
  color: #52ffa8;
}

.advice-text {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.4;
}
img{
    margin: 30px 0;
}
.icon {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: #52ffa8;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  box-shadow: 0 0 20px rgba(82, 255, 168, 0.7);
translate: 0 -3px;
}

.icon i {
  color: #000;
  font-size: 30px;
}

.credit {
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.credit a {
  color: #007bff;
  text-decoration: none;
}
